Flask==0.10.1
Flask-Sockets==0.1
Jinja2==2.7.2
MarkupSafe==0.18
Werkzeug==0.9.4
gevent==1.0
gevent-websocket==0.9.3
greenlet==0.4.2
gunicorn==18.0
ipython==1.2.1
itsdangerous==0.23
redis==2.9.1
ujson==1.33
wsaccel==0.6.2
wsgiref==0.1.2
